<% layout('layout') -%>
<div class='row actions'>
<%= item.Description %>
</div>
<div class="row btn-group actions">
<a class="btn btn-info" href="/application/<%= appid %>"><%= appname %></a>
<a class="btn btn-primary" href="/application/<%= appid %>/entity/<%= item.Id%>/new">Create <%= item.Name %></a>
</div>
<% if (instances && instances.length) { %>
<div class="row">
<table>
<table class="table-striped table-bordered">
    <tr>
        <th>&nbsp;</th>
        <% properties.forEach(function (property) { %>
        <th><%= property.Title %></th>
        <% }); %>
    </tr>
    <% instances.forEach(function (instance) { %>
    <tr>
    <td><a href="/application/<%= appid %>/entity/<%= item.Id %>/instance/<%= instance._id %>">View</a></td>
    <% properties.forEach(function (property) { %>
    <td>
    <% 
    var value = instance[property.Name];
    if (helper.isImage(value)) { %>
    <img src='<%= value %>'/>
    <% } else if (helper.isUrl(value)) { %>
    <a href='<%= value %>' target='_blank'><%= value %></a>
    <% } else { %>
    <%= value %>
    <% } %>
    </td>
    <% }); %>
    </tr>
    <% }); %>
</table>
</div>
<% } %>
